html {
    background-color: gray;
}
#users {
    overflow: auto; 
    overflow-x: hidden;
    position: absolute; 
    height: calc(100vh - 50px); 
    width: 90%; 
    background-color: skyblue; 
    top: 45px; left: 5%;
} 
main { 
    position: absolute; 
    text-align: center; 
    width: 90%; 
    left: 5%;
    background-color: cadetblue; 
    height: 40px;
    top: 0px;
} 
input, button {
    height: 30px; 
    margin-top: 2.5px; 
    margin-right: 2%;
}
.card {
    position: relative;
    height: 100px;
    /* max-width: 90%; */
    border: 1px solid black;
    margin: 1px;
}
.commitsName{
    position: relative;
    top: -90px;
    left: 70%; 
    margin: 5px 50px;
    color: blue;
}
.commitsEmail{ 
    position: relative;
    top: -90px;
    left: 70%;
    margin: 5px 50px;
    color: crimson;
}
.commitsMessage{ 
    position: relative;
    top: -90px;
    left: 20%;
    margin: 10px;
    color: darkgray;
}
.link{
    position: relative;
    top: -45px;
    left: -92px;
    margin: 0px 150px;
    color: yellow;
    /* text-decoration: none; */
}
.login {
    position: relative;
    top: -45px;
    left: 55px;
}
img {
    margin: 5px 5px;
    height: 40px;
    border-radius: 20px;
    width: auto;
}