.ja {
    background-image: url(../img/bigPizza.jpg);
    background-position: bottom;
    text-align: center;
    margin: 0%;
    padding: 3px;
    border: 1px solid #000;
    width: auto;
    height: 150px;
    display: block;
}
.ja h1 {
    background-color: rgba(255,255,255,0.4);
    margin: 0%;
    padding: 0%;
    width: 100%;
}