html{
    background-color: steelblue;
}
*{
    color: rgba(255, 0, 127, 1);
}
nav ul{
    list-style: none;
    color: white;
    background-color: cadetblue;
    overflow-x: scroll;
}
nav ul li{
    float: left;
    padding: 0px;
    border-spacing: 0px;
    margin: 15px;
    border-bottom: solid 3px #6bb601;
}
ul {
    list-style: none;
}
a{
    text-decoration: none;
}
li:hover {
    background-color: yellow;
    border: none;
    transition: 1s;
}